header{
    text-align: center;
    font-family: $letraprincipal;

   
   .container-fluid {background-color: $colorprincipal;
    padding: 10px;
    
       
}

   .logo_img{
        height: 250px;
    }
}